body {
	font-family: futura;
}

img {

	max-height: 400px;
	border: 1px solid black;
}

a {
	font-size: 32px;
	color: #465380;
}

.container-fluid {
	margin-left: auto;
	margin-right: auto; 
}

h1 {
	font-size: 72px;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;

}

.here-are {
	font-size: 32px;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.ethan-head {
	background-color: #465380;
	opacity: 0.7;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}
.ethan-head-text{
	color: white;

}

.header-divide {
	margin-bottom: 50px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 3em 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

